<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/website/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="box-parent-login">
    <h1>Entrar</h1>
    <form action="/sendLogin/" method="post">
        <label for="email">Email: </label>
        <input id="email" type="text" name="email" value="rafaoliveira.ti@gmail.com">
        <label for="password">Senha: </label>
        <input id="password" type="text" name="password" value="block3">

        <input type="submit" value="Enviar">
        <p class="txt-center ls-login-signup">Não possui um usuário?
            <a href="/register">Cadastre-se agora</a>
        </p>
    </form>
</div>
</body>
</html>